fastapi
uvicorn[standard]
python-multipart
python-dotenv
langchain
langchain-community
langchain-chroma
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-unstructured
langgraph
sentence-transformers
chromadb
unstructured[all-docs]
